
img{
	margin: 		1%;
	border-radius: 	10%;
	height: 		150px;
}

.tablecontent {
	margin: auto;
	height: 500px; 
	width: 100%;
	overflow: auto;
	padding: 10px;
	
	text-align: left !important;


}

tr{
	display: table-row;
}


#table_content1
{
	width: 			100%;
	position: 		relative;
	white-space: 	normal;
	overflow: auto;

	display: 		table;

}

