#sidebar {
  min-width: 30vw;
  max-width: 30vw;
  position: fixed;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: black;
  background-blend-mode:lighten;
  color: #fff;
  padding: 15px;
}
