@font-face {
	font-family: bubble;
	src: url(custom_font/bubblegumsans-regular.woff);
}

body {
	resize: 		  	both;
	background-color: 	#f1f1f1;
	text-align: 	  	center;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
}

/* The navigation bar */
.navbar {
	vertical-align: 	text-top;
	text-align: 	  	center;
	overflow: 			hidden;
	background-color: 	#C0C0C0;
	position: 			fixed; /* Set the navbar to fixed position */
	top: 				0; /* Position the navbar at the top of the page */
	width: 				99vw; /* Full width */
	height:				10%;
	border-radius: 		25px;
	z-index: 			999;
}

/* Main content */
.main {
	margin-top: 		10%; /* Add a top margin to avoid content overlay */
}

.scaleable-design {
	padding:		  20px;
	resize: 		  both;
	background: 	  white;
	position: 		  relative;
	text-align: 	  center;
	left: 			  50%;
	transform: 		  translate(-50%, 0%);
	transform-origin: center center;
	height: 		  100%;
}

.scaleable-wrapper {
	padding: 	1%;
	resize: 	both;
	position: 	relative;
	background: #666;
	height: 	100%;
	z-index: 	99;
}

table.a {
	table-layout: 	auto;
	width: 			100%;
}

#home {
	width: 50%; 
	height: 50%; 
	overflow-y: scroll;
}

.ui-resizable-se {
	width: 		10px;
	height: 	10px;
	background: orange;
	position: 	absolute;
	bottom: 	0;
	right: 		0;
}

nav{
	background-image: linear-gradient(to bottom, rgba(255,0,0,1), rgba(255,0,0,.3)); /* Standard syntax (must be last) */
}


ul{
	list-style: none;
}

thead{
	resize: 			both;
	justify-content:	space-between;
	display: 			block;
}

#table_content1
{
	width: 			90%;
	resize: 		both;
	position: 		relative;
	white-space: 	wrap;
	overflow-x: 	scroll;
	overflow-y: 	scroll;
	display: 		table;
	font-weight: 	bold;
}

#table_content2
{
	width: 			90%;
	resize: 		both;
	position: 		relative;
	white-space: 	wrap;
	overflow-x: 	scroll;
	overflow-y: 	scroll;
	display: 		table;
	font-weight: 	bold;
}

tr{
	display: table-row;

}

footer{
	left: 				0;
	bottom: 			0;
	width: 				100%;
	background-color: 	#adaca8;
	color: 				white;
	text-align: 		center;
}

#list_of_payment{
	font-size: 1.5em;
}

a{
	color: white;
}


h1{
	font-family: 	bubble;
	font-size: 		225%;
	opacity: 		1;
}

h2{
	font-family: 	"Times New Roman", Times, serif;
	font-size: 		250%;
	opacity: 		1;
}

h3{
	font-family: 	"Times New Roman", Times, serif;
	font-size: 		150%;
	opacity: 		1;
}

h4{
	font-family: 	"Times New Roman", Times, serif;
	font-weight: 	bold;
	font-size: 		100%;
	opacity: 		1;
}


#content{
	background: 	#343434;
	height: 		100vh;
	margin-top:		145px;
}

#publisher{
	padding: 		1%;
	resize: 		both;
	position: 		relative;
	overflow-x: 	scroll;
	overflow-y: 	hidden;
	white-space: 	nowrap;
	float: 			none;
	background: 	#e0d4d3;
	border-radius: 	25px;
}

#publisher::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
#publisher {
    -ms-overflow-style: none;
}

img{
	margin: 		1%;
	border-radius: 	10%;
	height: 		150px;
}

.scrolling-wrapper {
	-webkit-overflow-scrolling: touch;
}

.writing{
	color: 			black;
	padding: 		30px;
	text-align: 	center;
	font-family: 	Arial Rounded MT Bold;
	font-size: 		1.5em;
}

.navbar-nav{
	height: 6rem;
}

/* Style the tab */
.tab {
	position: 			center;
	overflow: 			hidden;
	background-color: 	#f1f1f1;
	border-radius: 	25px;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: 	inherit;
	float: 				center;
	border: 			none;
	outline: 			none;
	cursor: 			pointer;
	padding: 			1%;
	transition: 		0.3s;
	font-size: 			17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: 	#ddd;
	border-radius: 		10px;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: 	#C0C0C0;
	border-radius: 		10px;
}

/* Style the tab content */
.tabcontent {
	-webkit-overflow-scrolling: touch;
	display:			none;
	padding: 			1%;
	overflow-y: 		scroll;
	position: 			relative;
	height: 			40vh;
	background-color: 	#C0C0C0;
	border-radius: 		25px;
}

.tabcontent::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.tabcontent {
    -ms-overflow-style: none;
}